@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 348.0000 55.5556% 98.2353%;
    --foreground: 356.4706 71.8310% 13.9216%;
    --card: 0 0% 100%;
    --card-foreground: 356.4706 71.8310% 13.9216%;
    --popover: 0 0% 100%;
    --popover-foreground: 356.4706 71.8310% 13.9216%;
    --primary: 345 100% 25.0980%;
    --primary-foreground: 0 0% 100%;
    --secondary: 346.1538 37.1429% 93.1373%;
    --secondary-foreground: 345 100% 25.0980%;
    --muted: 346.1538 37.1429% 93.1373%;
    --muted-foreground: 354.3750 14.8148% 42.3529%;
    --accent: 349.1339 70.1657% 35.4902%;
    --accent-foreground: 0 0% 100%;
    --destructive: 345.3488 82.6923% 40.7843%;
    --destructive-foreground: 0 0% 100%;
    --border: 351 27.7778% 85.8824%;
    --input: 351 27.7778% 85.8824%;
    --ring: 345 100% 25.0980%;
    --chart-1: 345 100% 25.0980%;
    --chart-2: 349.1339 70.1657% 35.4902%;
    --chart-3: 345.3488 82.6923% 40.7843%;
    --chart-4: 349.1304 61.6071% 56.0784%;
    --chart-5: 348 70.4225% 72.1569%;
    --sidebar: 356.4706 71.8310% 13.9216%;
    --sidebar-foreground: 348.0000 55.5556% 98.2353%;
    --sidebar-primary: 345 100% 25.0980%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 355.8333 67.9245% 20.7843%;
    --sidebar-accent-foreground: 348.0000 55.5556% 98.2353%;
    --sidebar-border: 355.8333 67.9245% 20.7843%;
    --sidebar-ring: 345 100% 25.0980%;
    --font-sans: 'Inter', 'Lora', sans-serif;
    --font-serif: 'Lora', serif;
    --font-mono: 'Fira Code', monospace;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 3px;
    --shadow-blur: 4px;
    --shadow-spread: 0.5px;
    --shadow-opacity: 0.2;
    --shadow-color: #3d0a0d;
    --shadow-2xs: 0px 3px 4px 0.5px hsl(356.4706 71.8310% 13.9216% / 0.10);
    --shadow-xs: 0px 3px 4px 0.5px hsl(356.4706 71.8310% 13.9216% / 0.10);
    --shadow-sm: 0px 3px 4px 0.5px hsl(356.4706 71.8310% 13.9216% / 0.20), 0px 1px 2px -0.5px hsl(356.4706 71.8310% 13.9216% / 0.20);
    --shadow: 0px 3px 4px 0.5px hsl(356.4706 71.8310% 13.9216% / 0.20), 0px 1px 2px -0.5px hsl(356.4706 71.8310% 13.9216% / 0.20);
    --shadow-md: 0px 3px 4px 0.5px hsl(356.4706 71.8310% 13.9216% / 0.20), 0px 2px 4px -0.5px hsl(356.4706 71.8310% 13.9216% / 0.20);
    --shadow-lg: 0px 3px 4px 0.5px hsl(356.4706 71.8310% 13.9216% / 0.20), 0px 4px 6px -0.5px hsl(356.4706 71.8310% 13.9216% / 0.20);
    --shadow-xl: 0px 3px 4px 0.5px hsl(356.4706 71.8310% 13.9216% / 0.20), 0px 8px 10px -0.5px hsl(356.4706 71.8310% 13.9216% / 0.20);
    --shadow-2xl: 0px 3px 4px 0.5px hsl(356.4706 71.8310% 13.9216% / 0.50);
    --tracking-normal: -0.015em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 355.3846 76.4706% 3.3333%;
    --foreground: 351.4286 70.0000% 96.0784%;
    --card: 354.2857 67.7419% 6.0784%;
    --card-foreground: 351.4286 70.0000% 96.0784%;
    --popover: 354.2857 67.7419% 6.0784%;
    --popover-foreground: 351.4286 70.0000% 96.0784%;
    --primary: 355.4913 77.5785% 56.2745%;
    --primary-foreground: 0 0% 100%;
    --secondary: 356.4706 71.8310% 13.9216%;
    --secondary-foreground: 353.1429 100% 93.1373%;
    --muted: 354.3750 61.5385% 10.1961%;
    --muted-foreground: 354.1176 37.2263% 73.1373%;
    --accent: 354.0331 79.0393% 44.9020%;
    --accent-foreground: 0 0% 100%;
    --destructive: 349.2135 100% 65.0980%;
    --destructive-foreground: 0 0% 100%;
    --border: 354 53.5714% 10.9804%;
    --input: 353.2075 55.7895% 18.6275%;
    --ring: 353.6842 100% 59.0196%;
    --chart-1: 355.4913 77.5785% 56.2745%;
    --chart-2: 349.2857 100% 78.0392%;
    --chart-3: 345 100% 25.0980%;
    --chart-4: 348.9474 100% 85.0980%;
    --chart-5: 355.8333 67.9245% 20.7843%;
    --sidebar: 353.3333 81.8182% 2.1569%;
    --sidebar-foreground: 351.4286 70.0000% 96.0784%;
    --sidebar-primary: 355.4913 77.5785% 56.2745%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 354.2857 67.7419% 6.0784%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 354.2857 67.7419% 6.0784%;
    --sidebar-ring: 355.4913 77.5785% 56.2745%;
    --font-sans: 'Inter', 'Lora', sans-serif;
    --font-serif: 'Lora', serif;
    --font-mono: 'Fira Code', monospace;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 3px;
    --shadow-blur: 4px;
    --shadow-spread: 0.5px;
    --shadow-opacity: 0.2;
    --shadow-color: #000000;
    --shadow-2xs: 0px 3px 4px 0.5px hsl(0 0% 0% / 0.10);
    --shadow-xs: 0px 3px 4px 0.5px hsl(0 0% 0% / 0.10);
    --shadow-sm: 0px 3px 4px 0.5px hsl(0 0% 0% / 0.20), 0px 1px 2px -0.5px hsl(0 0% 0% / 0.20);
    --shadow: 0px 3px 4px 0.5px hsl(0 0% 0% / 0.20), 0px 1px 2px -0.5px hsl(0 0% 0% / 0.20);
    --shadow-md: 0px 3px 4px 0.5px hsl(0 0% 0% / 0.20), 0px 2px 4px -0.5px hsl(0 0% 0% / 0.20);
    --shadow-lg: 0px 3px 4px 0.5px hsl(0 0% 0% / 0.20), 0px 4px 6px -0.5px hsl(0 0% 0% / 0.20);
    --shadow-xl: 0px 3px 4px 0.5px hsl(0 0% 0% / 0.20), 0px 8px 10px -0.5px hsl(0 0% 0% / 0.20);
    --shadow-2xl: 0px 3px 4px 0.5px hsl(0 0% 0% / 0.50);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}